.app__aboutus{
    position: relative;
}

.app__aboutus_overlay{
    position: absolute;
    text-align: center;
}

.app__aboutus_overlay img {
    width: 391px;
    height: 415px;
    z-index: 0;
}

.app__aboutus_content{
    width: 100%;
    z-index: 2;
}

.app__aboutus_content_knife{
    margin: 2rem 4rem;
}

.app__aboutus_content_knife img{
    height: 910px;
}

.app__aboutus_content_about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
}
.app__aboutus_content_history{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.app__aboutus_content_about p,
.app__aboutus_content_history p{
    margin: 2rem 0;
    color: var(--color-grey);
}

@media screen and (max-width:2000px){
    
}
@media screen and (max-width:900px){
    .app__aboutus_content{
        flex-direction: column;
    }
    .app__aboutus_content_knife{
        margin: 4rem 0;
    }
    .app__aboutus_content_knife img{
        height: 630px;
    }
}
@media screen and (max-width:650px){
    .app__aboutus_overlay img{
        width: 80%;
        height: 320px;
    }
}